<launch>
    <!-- Start skeleton sender-->
    <node pkg="leap_motion_noetic" 
        type="leap_visualizer_node.py" 
        name="leap_visualizer_node" 
        output="screen" />

    <!-- Open a preconfigured RViz window -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find leap_motion_noetic)/config/RViz/leap_skeleton_visu.rviz" />

</launch>